body {
  min-width: 1200px;
  background-color: #ffffff;
  background-image: url("../img/background.png");
  font-family: "PT Sans Narrow","Arial", sans-serif;
  font-size: 14px;
}

.modal-login {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.cite-navigation,
.user-navigation,
.breadscrumbs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-main,
.catalog-footer {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.filters button,
.catalog-item button {
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  padding: auto;
  border: none;
}

.page-header {
  background-color: #000000;
  height: 70px;
  margin-bottom: 53px;
}

.main-logo {
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.main-navigation {
  box-sizing: border-box;
  display: flex;
  width: 900px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
}

.main-navigation a {
  text-decoration: none;
  color: #ffffff;
}

.cite-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 4px;
}

.cite-navigation li {
  margin-right: 40px;
}

.cite-navigation li:nth-child(5n) {
  margin-right: 0;
}

.cite-navigation .active {
  box-shadow: 0 4px 0 0 #ffffff;
  padding-bottom: 23px;
}

.user-navigation {
  margin-left: 212px;
  padding-top: 4px;
}

.catalog-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 52px;
}

.catalog-header h1 {
  font-size: 30px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
}

.breadscrumbs {
  display: flex;
  text-transform: uppercase;
}

.breadscrumbs li {
  margin-right: 40px;
}

.breadscrumbs a,
.catalog-item a {
  text-decoration: none;
  color: #000000;
}

.breadscrumbs .current {
  margin-right: 0;
  color: #aba9a7;
}

.catalog-flex-wrapper {
  display: flex;
}

.column-left {
  margin-right: 23px;
  text-transform: uppercase;
}

.filters {
  display: flex;
  flex-direction: column;
}

.filter-label {
  font-size: 24px;
  margin-bottom: 18px;
}

.producer {
  margin-bottom: 31px;
}

.producer p {
  margin-bottom: 21px;
}

.goods-groups {
  margin-bottom: 30px;
}

.goods-groups p {
  margin-bottom: 22px;
}

.producer input[type="checkbox"],
.goods-groups input[type="radio"] {
  display: none;
}

.producer input[type="checkbox"] + label,
.goods-groups input[type="radio"] + label {
  box-sizing: border-box;
  padding-left: 44px;
}

.filters button {
  width: 112px;
  height: 43px;
  font-size: 13px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
  margin-top: 4px;
  margin-bottom: 26px;
}

.catalog-item {
  width: 220px;
  height: 286px;
  margin-bottom: 20px;
}

.paginator {
  margin-left: 240px;
  display: flex;
}

.page {
  box-sizing: border-box;
  width: 43px;
  height: 43px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  padding-top: 15px;
  padding-left: 18px;
  margin-right: 7px;
}

.disabled {
  background-color: #ffffff;
  color: #000000;
}
